<!DOCTYPE html>
<html lang="en" data-ng-app=""><!--默认不写-->
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./bootstrap.min.css"/>
</head>
<body data-ng-init="customers=[{name:'dfdfgdfg'},{name:'baaa'}]">
<input type="text" data-ng-model="name"/>
    <div >
        <ul>
            <li data-ng-repeat="one in customers | filter:name"><!--filter直接过滤了-->
                {{one.name}}
            </li>
        </ul>
    </div>
<script src="./angular.min.js"></script>
</body>
</html>