#div1
{
	width: 100px;
	height: 100px;

	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;  
    -moz-transition: opacity 0.2s;  
    -o-transition: opacity 0.2s;  
}
#div1:hover
{
	opacity:0.5;
}